<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>PasswdServlet</servlet-name>
        <servlet-class>ee.pri.a7k.web.jndirectory.servlet.PasswdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswdServlet</servlet-name>
        <url-pattern>/passwd</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <resource-env-ref>
        <resource-env-ref-name>Ldap</resource-env-ref-name>
        <resource-env-ref-type>javax.naming.ldap.LdapContext</resource-env-ref-type>
    </resource-env-ref>
</web-app>
